import numpy as np
import pandas as pd
import seaborn as sns

data_path = "Marketing_Campaign_Train.csv"

data = pd.read_csv(data_path)

In [1]:
#Shape of data.csv we have 1680 rows and 29 columns
print("Shape: ", data.shape)

NameError: name 'data' is not defined

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1680 non-null   int64
 1   Year_Birth             1651 non-null   float64
 2   Education              1672 non-null   object
 3   Status                 1646 non-null   object
 4   Income                 1609 non-null   float64
 5   Num_of_kids            1672 non-null   float64
 6   Num_of_Teen            1660 non-null   float64
 7   Registration_date      1680 non-null   object
 8   Recency                1680 non-null   int64
 9   Mnt_Fruits             1673 non-null   float64
 10  Mnt_Meat               1673 non-null   float64
 11  Mnt_sweet              1659 non-null   float64
 12  Mnt_Wines              1673 non-null   float64
 13  Mnt_Gold_Products      1673 non-null   float64
 14  Mnt_Fish               1673 non-null   float64
 15  Num_Web_Purchases      1651 non-null   float64
 16  Num_Store_Purchases    1673 non-null   float64
 17  Num_Deals_Purchases    1673 non-null   float64
 18  Num_Catalog_Purchases  1673 non-null   float64
 19  Num_Web_Visits         1673 non-null   float64
 20  Response_Campaign_1    1662 non-null   float64
 21  Response_Campaign_2    1673 non-null   float64
 22  Response_Campaign_3    1673 non-null   float64
 23  Response_Campaign_4    1673 non-null   float64
 24  Response_Campaign_5    1673 non-null   float64
 25  Complain               1673 non-null   float64
 26  Cost_Contact           1673 non-null   float64
 27  Revenue                1673 non-null   float64
 28  Response               1680 non-null   int64
dtypes: float64(23), int64(3), object(3)
memory usage: 380.8+ KB

In [ ]:
data.describe(include='all')

,ID,Year_Birth,Education,Status,Income,Num_of_kids,Num_of_Teen,Registration_date,Recency,Mnt_Fruits,...,Num_Web_Visits,Response_Campaign_1,Response_Campaign_2,Response_Campaign_3,Response_Campaign_4,Response_Campaign_5,Complain,Cost_Contact,Revenue,Response
count,1680.000000,1651.000000,1672,1646,1609.000000,1672.000000,1660.000000,1680,1680.000000,1673.000000,...,1673.000000,1662.000000,1673.000000,1673.000000,1673.000000,1673.000000,1673.000000,1673.0,1673.0,1680.000000
unique,NaN,NaN,5,6,NaN,NaN,NaN,634,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Graduation,Married,NaN,NaN,NaN,14/02/2013,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,830,653,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5584.735714,1969.047244,NaN,NaN,51983.554382,0.454545,0.503614,NaN,48.890476,303.676031,...,10.602510,0.076414,0.071727,0.072325,0.065152,0.013748,0.008966,3.0,11.0,0.148214
std,3233.716033,11.937421,NaN,NaN,26567.679664,0.538492,0.544011,NaN,29.091872,340.672889,...,5.030212,0.265739,0.258113,0.259103,0.246868,0.116477,0.094291,0.0,0.0,0.355418
min,0.000000,1893.000000,NaN,NaN,1730.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2862.500000,1959.500000,NaN,NaN,34596.000000,0.000000,0.000000,NaN,24.000000,23.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5511.000000,1970.000000,NaN,NaN,50611.000000,0.000000,0.000000,NaN,50.000000,167.000000,...,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8395.500000,1978.000000,NaN,NaN,67716.000000,1.000000,1.000000,NaN,74.000000,508.000000,...,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,NaN,NaN,666666.000000,2.000000,2.000000,NaN,99.000000,1493.000000,...,40.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [ ]:
numeric_col = data.describe().columns # to get the numeric column
numeric_col

Index(['ID', 'Year_Birth', 'Income', 'Num_of_kids', 'Num_of_Teen', 'Recency',
       'Mnt_Fruits', 'Mnt_Meat', 'Mnt_sweet', 'Mnt_Wines', 'Mnt_Gold_Products',
       'Mnt_Fish', 'Num_Web_Purchases', 'Num_Store_Purchases',
       'Num_Deals_Purchases', 'Num_Catalog_Purchases', 'Num_Web_Visits',
       'Response_Campaign_1', 'Response_Campaign_2', 'Response_Campaign_3',
       'Response_Campaign_4', 'Response_Campaign_5', 'Complain',
       'Cost_Contact', 'Revenue', 'Response'],
      dtype='object')

In [ ]:
numeric_data = data[numeric_col] #getting the numeric columns
numeric_data

,ID,Year_Birth,Income,Num_of_kids,Num_of_Teen,Recency,Mnt_Fruits,Mnt_Meat,Mnt_sweet,Mnt_Wines,...,Num_Web_Visits,Response_Campaign_1,Response_Campaign_2,Response_Campaign_3,Response_Campaign_4,Response_Campaign_5,Complain,Cost_Contact,Revenue,Response
0,5376,1979.0,NaN,1.0,0.0,42,1.0,1.0,1725.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
1,6862,1971.0,1730.0,0.0,0.0,65,1.0,1.0,3.0,1.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
2,10749,1991.0,8028.0,0.0,0.0,62,73.0,18.0,66.0,7.0,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
3,238,1967.0,67309.0,1.0,1.0,76,515.0,47.0,181.0,149.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
4,1501,1982.0,160803.0,0.0,0.0,21,55.0,16.0,1622.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,8278,1990.0,74214.0,0.0,0.0,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1676,7458,1956.0,34941.0,1.0,1.0,26,39.0,2.0,25.0,4.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
1677,4128,1962.0,56067.0,0.0,1.0,51,517.0,12.0,54.0,16.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
1678,5121,1977.0,56628.0,0.0,1.0,30,479.0,5.0,82.0,7.0,...,5.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
1679,4954,1956.0,48195.0,1.0,1.0,53,106.0,27.0,68.0,52.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0

In [ ]:
data.head() #comparing with columns in head we can see the Education,Status and Registration_date columns are missing in the numerical data

,ID,Year_Birth,Education,Status,Income,Num_of_kids,Num_of_Teen,Registration_date,Recency,Mnt_Fruits,...,Num_Web_Visits,Response_Campaign_1,Response_Campaign_2,Response_Campaign_3,Response_Campaign_4,Response_Campaign_5,Complain,Cost_Contact,Revenue,Response
0,5376,1979.0,Graduation,Married,NaN,1.0,0.0,06/01/2013,42,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
1,6862,1971.0,Graduation,Divorced,1730.0,0.0,0.0,18/05/2014,65,1.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
2,10749,1991.0,Graduation,Single,8028.0,0.0,0.0,18/09/2012,62,73.0,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
3,238,1967.0,2n Cycle,Together,67309.0,1.0,1.0,23/01/2013,76,515.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0
4,1501,1982.0,PhD,Married,160803.0,0.0,0.0,04/08/2012,21,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0

In [ ]:
nominal_data = data.drop(numeric_col, axis=1) #removing the numeric columns gives us the remaining columns
nominal_data

       Education    Status Registration_date
0     Graduation   Married        06/01/2013
1     Graduation  Divorced        18/05/2014
2     Graduation    Single        18/09/2012
3       2n Cycle  Together        23/01/2013
4            PhD   Married        04/08/2012
...          ...       ...               ...
1675         PhD   Married        26/08/2012
1676      Master  Together        06/03/2013
1677         PhD  Together        20/07/2013
1678  Graduation    Single        21/03/2014
1679  Graduation   Married        21/01/2014

[1680 rows x 3 columns]

In [ ]:
for col in numeric_col:
    sns.displot(numeric_data[col], bins=20, color='skyblue') # kde=True

NameError: name 'sns' is not defined